@model Product

<form method="POST">
    <input type="hidden" name="ProductId" value="@Model.ProductID"/>

    <div class="form-group">
        <label for="ProductName">Product Name</label>
        <input asp-for="ProductName" value="@Model.ProductName" class="form-control">
    </div>

    <div class="form-group">
        <label for="ProductPrice">Product Price</label>
        <input asp-for="ProductPrice" value="@Model.ProductPrice" class="form-control">
    </div>

    <div class="form-group">
        <label for="Description">Product Description</label>
        <textarea asp-for="ProductDescription" value="@Model.ProductDescription" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="ProductImageName">Product Image Name</label>
        <input asp-for="ProductImageName" value="@Model.ProductImageName" class="form-control">
    </div>

    @* <div class="form-group">
        <label for="CategoryId">CategoryId</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option selected disabled>Seçiniz</option>
        </select>
    </div> *@

    <button type="submit" class="btn btn-primary">Submit</button>
</form>